body, html {
    margin: 0;
    padding: 0;
}
* {
    appearance: none;
}
[contenteditable] {
    outline: 0px solid transparent;
}
*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.5);
    background-clip: content-box;
    border: 4px solid transparent;
    border-radius: 12px;
}
*::-webkit-scrollbar-corner {
    background-color: transparent;
}
h1, h2, h3, h4, h5, h6 {
    color: white;
    margin: 30px;
}
p {
    color: black;
    margin: 10px;
    font-size: 18px;
}
span {
    margin: 0;
    font-size: 18px;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
h1 {font-size: 35px}
h2 {font-size: 30px}
h3 {font-size: 25px}
h4 {font-size: 20px}
h5 {font-size: 15px}
h6 {font-size: 10px}
.xpbar {
    margin: 30px;
    background: black;
    width: calc(100% - 60px);
    border-radius: 10px;
    position: relative;
}
.xpwidth {
    width: 0%;
    height: 10px;
    transition: width 0.75s;
    border-radius: 10px;
}
.xplevel {
    position: absolute;
    text-shadow: 2px 2px 3px black;
    width: 100%;
    font-size: 20px;
    text-align: center;
    top: -15px;
}
.main {
    text-align: center;
}
@media only screen and (max-width: 700px) {
    .main {
        font-size: 30px;
    }
}
.tasks {
    border-radius: 10px;
    margin: 30px;
    margin-bottom: 0;
    width: calc(100% - 60px);
    height: calc(100vh - 160px);
    overflow: auto;
}
.task {
    border-bottom: 1px solid black;
    padding: 15px;
    transition: all 1s;
}
.addnewtask {
    border: none;
    padding: 15px;
    color: white;
    margin: 0;
    font-size: 18px;
    background: rgba(0,0,0,0.2);
    width: 100%;
    text-align: left;
    cursor: pointer;
}
.task:nth-child(2) {
    border-top: 1px solid black !important;
}
.task:last-child {
    border-bottom: none !important;
}
.lowpriority:before {
    content: " ";
    font-weight: bold;
}
.normalpriority:before {
    color: red;
    content: " ! ";
    font-weight: bold;
}
.highpriority:before {
    color: red;
    content: " !! ";
    font-weight: bold;
}
.debugpriority:before {
    color: green;
    content: " Debug ";
    font-weight: bold;
}
.checkbox {
    width: 18px;
    height: 18px;
    aspect-ratio: 1 / 1;
    background: transparent;
    margin-right: 5px;
    display: inline;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0,0,0);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.checkbox:not(:disabled):hover {
    box-shadow: -2px 2px 0 rgba(100,100,100);
    transform: translateX(2px) translateY(-2px);
}
.checkbox:disabled {
    cursor: default;
}
.confetti {
    aspect-ratio: 8 / 6;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: none;
}
.modaloverlay {
    background: rgba(0,0,0,0.5);
    opacity: 0%;
    transition: opacity 1s;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.modal {
    width: 50%;
    background: black;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    animation: bounce 1s;
    display: none;
}
@keyframes bounce {
    0% {
        transform: scale(0);
    }
    25% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.modalform {
    width: calc(100% - 100px);
    margin: 50px;
}
.modalform h2 {
    text-align: center;
}
@media only screen and (max-width: 900px) {
    .modalform {
        width: calc(100% - 20px);
        margin: 10px;
    }
    .modal {
        width: 100%;
        height: 100%;
        background: black;
        align-items: center;
        justify-content: center;
        border-radius: 0px;
        animation: none;
    }
}
.taskname {
    width: calc(100% - 50px);
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    background: black;
    border: 2px solid white;
    border-radius: 40px;
    font-family: 'IBM Plex Mono';
    color: white;
    cursor: text;
}
.taskname::placeholder {
    color: rgba(100,100,100);
    opacity: 1;
}
.taskpriority {
    width: calc(100% - 30px);
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    background: black;
    border: 2px solid white;
    border-radius: 40px;
    font-family: 'IBM Plex Mono';
    color: rgba(100,100,100);
    cursor: text;
}
.taskname:focus, .taskpriority:focus {
    outline: none;
}
.taskcreate {
    background: rgba(0,100,0);
    color: white;
    font-family: 'Press Start 2p';
    font-size: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 30%;
    height: 40px;
    margin-left: 10px;
}
.taskcancel {
    background: rgba(100,0,0);
    color: white;
    font-family: 'Press Start 2p';
    font-size: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 30%;
    height: 40px;
    margin-left: calc(20% - 10px);
}
.taskcreate, .taskcancel {
    transition: transform 0.2s;
}
.taskcreate:hover, .taskcancel:hover {
    transform: scale(1.05);
}
.taskcreate:active, .taskcancel:active {
    transform: scale(0.95);
}
.menu {
    width: calc(50% - 80px);
    background: rgba(0,0,0,0.5);
    height: calc(100% - 80px);
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 40px;
    transition: right 1s;
    overflow: auto;
    backdrop-filter: blur(5px);
}
@media only screen and (max-width: 950px) {
    .menu {
        width: calc(100% - 80px);
        background: rgba(0,0,0,0.9)
    }
}
.menumain {
    margin: 0;
    text-shadow: 3px 3px 7px black;
    width: calc(100% - 50px);
    word-wrap: break-word;
    font-family: 'Press Start 2P';
}
.menumainicon {
    font-family: 'Material Symbols Rounded';
    display: inline-block;
    margin-right: 10px;
    font-size: 42px;
}
.menutext {
    margin: 0;
    text-shadow: 3px 3px 7px black;
    color: white;
    font-size: 15px;
    font-family: 'IBM Plex Mono';
}
.rewardbox {
    border: 2px solid white;
    padding: 10px;
    margin-top: 10px;
    display: block;
}
.italicmenu {
    color: gray;
}
.menudivider {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 2px;
}
.menuul {
    margin: 10px;
    color: white;
    padding: 0;
    list-style-type: none;
    background: rgba(255,255,255,0.25);
    border-radius: 10px;
}
.menuul li {
    padding: 10px;
    transition: 0.2s all;
    cursor: pointer;
}
.menuul li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.menuul li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.menuul li:hover {
    background: rgba(255,255,255,0.5);
}
.menuul li span:focus {
    cursor: text;
}
.rewardcheck {
    appearance: checkbox !important;
    width: 13px;
    height: 13px;
    margin: 0;
    margin-right: 5px;
}
.rewardcolor {
    width: 100%;
    height: 40px;
    margin-top: 5px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 0;
    outline: 0;
}
.menuinput {
    background: white;
    border: 2px solid gray;
    padding: 5px;
    font-size: 13px;
    font-family: 'IBM Plex Mono';
    margin-top: 10px;
    width: calc(100% - 15px);
    border-radius: 5px;
    transition: 1s border;
    cursor: pointer;
}
.menuinput:focus {
    outline: none;
    border: 2px solid #c8ff00;
    cursor: text;
}
.menuinput::placeholder {
    color: rgba(100,100,100);
    opacity: 1;
}
.rewardcolor::-webkit-color-swatch {
    border: 1px solid white;
    border-radius: 10px;
}
.rewardcolor::-webkit-color-swatch-wrapper {
    padding: 0;
}
.content {
    width: calc(100% - 70px);
    position: absolute;
    top: 0;
    right: 0;
}
.buttonmenu {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 10px;
    height: calc(100% - 20px);
    width: 50px;
    padding: 10px;
    flex-direction: column;
    background: black;
}
.menubutton {
    width: 50px;
    height: 50px;
    font-family: 'Material Symbols Rounded';
    padding: 0;
    border: 0;
    background: transparent;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
    border: 1px solid transparent;
    border: 1px solid transparent;
    color: inherit;
    text-shadow: 0px 0 5px black;
}
.menubutton:hover {
    background: rgba(255,255,255,0.1);
}
.menubutton:active {
    background: transparent;
    border: 1px solid white;
    outline: 1px solid gray;
}
.minibutton {
    padding: 10px 15px;
    border: 0px solid transparent;
    background: transparent;
    font-size: 15px;
    border-radius: 45px;
    cursor: pointer;
    transition: all 0.2s;
    color: inherit;
    text-shadow: 0px 0 5px black;
    margin: 10px;
}
.minibutton:hover {
    background: rgba(255,255,255,0.1);
}
.minibutton:active {
    background: transparent;
    border: 1px solid white;
    outline: 1px solid gray;
}
.closebutton {
    position: absolute;
    right: 40px;
    top: 30px;
    color: white;
}
.notification {
    width: 100%;
    background: rgba(30,30,30);
    color: white;
    width: calc(90% - 110px);
    position: fixed;
    bottom: 100%;
    left: calc(5% + 70px);
    z-index: 1;
    padding: 20px;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 2px rgba(255,255,255,0.5);
    font-family: 'IBM Plex Mono';
    animation: notification 5s;
}
@keyframes notification {
    0% {
        bottom: -100%;
    }
    10% {
        bottom: 50%;
    }
    90% {
        bottom: 50%;
    }
    100% {
        bottom: calc(100% + 200px);
    }
}
xpvalue:before {
    content: "XP Value: "
}
randnum:before {
    content: "ID: "
}
xpvalue,randnum {
    font-family: 'IBM Plex Mono';
    font-size: 15px;
    margin: 10px;
}